.pagination {
    display: inline-block;
    margin: 0 30px 30px 30px;
  }

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: rgb(231, 233, 235);
  border-radius: 1rem;
  margin-left: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid transparent;
}
  
.pagination button.active {
  background-color: #2962ff;
  color: white;
}
  
.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.pagination button.active:hover {
  background-color: #335ccc;
}

@media only screen and (max-width: 576px) {
  .pagination {display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}