.container {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
  
.buttonHome {
    background-color: white;
    font-size: 20px;
    padding: 5px 20px;
  
}

